@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$primary-color: #165ca2;
$secondary-color: #22a9d7;

$title-font: 'Maven Pro', sans-serif;
$text-font: 'Open Sans', sans-serif;
