$size: 100px;

.menu {
	background: red;
	border: 1px solid black;

	section & {
		background: white;
	}

    &__item {
        width: calc(100vw - 200px);
        height: calc(100vh - 200px);
    }
}
