* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #f5d04e;
}

img {
	max-width: 100%;
}

.grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(3, 200px);
	gap: 1rem;
}

.card-large {
	background-color: gray;

	grid-column: auto / span 3;
}
