@font-face {
	font-family: 'Bananas';
	src: url('/fonts/Roboto-Thin.ttf') format('truetype');
	font-weight: 100;
}

@font-face {
	font-family: 'Bananas';
	src: url('/fonts/Roboto-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Bananas';
	src: url('/fonts/Roboto-Black.ttf') format('truetype');
	font-weight: 200;
}

@font-face {
	font-family: 'Bananas';
	src: url('/fonts/Roboto-Medium.ttf') format('truetype');
	font-weight: 500;
}

* {
	box-sizing: border-box;
}

html {
	--primary-color: red;
	--text-color: black;
}

.darkmode {
	--primary-color: rgb(37, 69, 199);
	--text-color: rgb(255, 255, 255);
}

body {
	margin: 0;
	padding: 0;
	color: var(--text-color);
}

h1 {
	margin: 0;
	margin-top: 1rem;
	background: var(--primary-color);
}
.box {
	--background-image: url('https://unsplash.it/1280/900');
	width: 90%;
	padding: 20px;
	background-color: var(--primary-color);
	background-size: cover;
	background-image: linear-gradient(to right, var(--primary-color), rgba(255, 192, 203, 0.11)), var(--background-image);
	background-size: cover;
	margin: 0 auto;
	display: flex;
	gap: 1rem;
}

.box::before {
	content: 'prefixo';
}

.inner {
	background-color: pink;
	border: 1px solid black;
	padding: 5px;
}

.inner:nth-child(3n + 1) {
	background-color: green;
}

.star {
	position: relative;
	margin: 100px auto;
}

.triangle {
	margin: 100px;
	border-width: 30px;
	border-style: solid;
	border-color: transparent transparent pink;
	width: 0;
	height: 0;

	position: absolute;
	top: 0;
}

.triangle:nth-child(3n) {
	transform: rotate(180deg) translateY(-71%);
}
