@font-face {
	font-family: 'Bananas';
	src: url('/fonts/Roboto-Thin.ttf') format('truetype');
	font-weight: 100;
}

@font-face {
	font-family: 'Bananas';
	src: url('/fonts/Roboto-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Bananas';
	src: url('/fonts/Roboto-Black.ttf') format('truetype');
	font-weight: 200;
}

@font-face {
	font-family: 'Bananas';
	src: url('/fonts/Roboto-Medium.ttf') format('truetype');
	font-weight: 500;
}

html {
	--primary-color: red;
	--text-color: black;
}

.darkmode {
	--primary-color: rgb(37, 69, 199);
	--text-color: rgb(255, 255, 255);
}

body {
	margin: 0;
	padding: 0;
	color: var(--text-color);
}

h1,
p {
	margin: 0;
	margin-top: 1rem;
	background: var(--primary-color);
}

p {
	font-family: 'Bananas', sans-serif;
}
.inner {
	flex-grow: 1;
	border: 1px solid black;
	gap: 1 rem;
	padding: 40px;
}
.box {
	--background-image: url('https://unsplash.it/1280/900');
	width: 50%;
	height: 100px;
	padding: 10px;
	background-color: var(--primary-color);
	background-size: cover;
	background-image: linear-gradient(to right, var(--primary-color), rgba(255, 192, 203, 0.11)), var(--background-image);
	background-size: cover;
	display: flex;
	flex-wrap: wrap;
}
