<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercicio 3</title>
</head>
<body>
    <h1>Exercício das listas</h1>

    <h2>Paises mais populosos do mundo</h2>
    <ol>
        <li>Índia</li>
        <li>China</li>
        <li>Estados Unidos</li>
        <li>Indonésia</li>
        <li>Paquistão</li>
        <li>Nigéria</li>
    </ol>

    <h2>Materiais de desenho</h2>
    <ul>
        <li>Borracha</li>
        <li>Lápis</li>
        <li>Tinta</li>
        <li>Régua</li>
        <li>Lápis de cor</li>
    </ul>
    
    <h2>Sites com mais acessos em 2024</h2> 
    <ol type="I">
        
    <a href="https://www.google.com/webhp?hl=pt-PT&sa=X&ved=0ahUKEwi87bjSxamJAxX4T6QEHTJ7BLgQPAgI" target="_blank"><li>Google</li> </a>
    <li>Youtube</li>
    <li>Facebook</li>
    <li>Instagram</li>
    <li>Whatsapp</li>
    </ol>

    <h2>Tipos de alface</h2>
    <ol>
        <li>Alfaces
        <ul>
            <li>Alface romana</li>
            <li>Alface Iceberg</li>
            <li>Alface lisa</li>
            <li>Alface roxa <img src="../../../Imagens/alface-crespa_roxa.jpg"></li>
            
    
        
</ul>
    
        </li>

    </ol>

</body>
</html>